<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>IpiMdd050EvalWeb</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://bootswatch.com/3/journal/bootstrap.min.css">
	</head>
	<body class="ember-application">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

		<div>
			<div class="container" th:replace="fragment/navbar :: navbar"></div>

			<div class="container">
				<h2>Détail de l'artiste <span th:text="${artist.name}">r</span></h2>
				<div class="row">
					<div class="col-lg-10">
						<div class="form-group">
							<form th:action="${artist.id} ? '/th/artists/update' : '/th/artists'" id="saveArtistForm" method="post">
								<input type="hidden"
									   id="id"
									   name="id"
									   th:if="${artist.id}"
									   th:value="${artist.id}"
									   class="ember-text-field form-control ember-view"/>
								<label for="name" class="form-control-label">Nom</label>
								<input type="text"
									   id="name"
									   name="name"
									   th:value="${artist.name}"
									   class="ember-text-field form-control ember-view"/>
							</form>
							<div style="height: 2em"></div>
							<div style="display: flex">
								<input form="saveArtistForm" class="btn btn-primary" type="submit" value="Enregistrer">
								<div style="width: 2em"></div>
								<a th:href="${artist.id}+'/delete'" class="btn btn-danger">Supprimer</a>
							</div>
							<div style="height: 2em"></div>
							<label for="performance" class="form-control-label">Albums</label>
							<div class="row">
								<div class="row">
									<div class="col-lg-10">
										<div class="list-group">
											<li class="list-group-item">&nbsp;Let There Be Rock</li>
											<li class="list-group-item">&nbsp;For Those About To Rock We Salute You</li>
										</div>
									</div>
									<div class="col-lg-2 text-center">
										<div class="list-group text-center">
											<button class="btn-danger list-group-item list-group-item-action"><span class="glyphicon glyphicon-remove"></span></button>
											<button class="btn-danger list-group-item list-group-item-action"><span class="glyphicon glyphicon-remove"></span></button>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-10">
										<input type="text" placeholder="Ajouter un album..." class="form-control ember-text-field ember-view">
									</div>
									<div class="col-lg-2 text-center">
										<button class="btn-success list-group-item list-group-item-action"><span class="glyphicon glyphicon-plus"></span></button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>